.custom-header {
    background: #f8f9fa;  /* Light gray background */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid #c4cdd7; /* Blue border */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 40px;
    height: 40px;
    margin-right: 10px; /* Adds space between logo and text */
}

.custom-text {
    color: #007bff
}
.text-dark{
  color:black;
}